

<!DOCTYPE html>
<html itemscope="" itemtype="http://schema.org/QAPage" class="html__responsive"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

        <title>{{question.title}}</title>

        <link rel="stylesheet" type="text/css" href="/static/stacks.css">
        <link rel="stylesheet" type="text/css" href="/static/primary.css">
    <script src="/static/markup.js" ></script>

    

        
        
        
        
        
        
        


    <body class="question-page unified-theme">
    <div id="custom-header"></div>
        

    <script>
        StackExchange.ready(function () { StackExchange.topbar.init(); });
StackExchange.scrollPadding.setPaddingTop(50, 10);    </script>





    <div class="container">
            




        <div id="content" class="snippet-hidden">

            
<div itemprop="mainEntity" itemscope="" itemtype="http://schema.org/Question">
    <link itemprop="image" href="https://cdn.sstatic.net/Sites/stackoverflow/Img/apple-touch-icon.png?v=c78bd457575a">

    <div class="inner-content clearfix">

        
            <h2><a class="keep" href="/"> 🏠 </a> </h2>
            <div id="question-header" class="grid sm:fd-column">
                        <h1 itemprop="name" class="grid--cell fs-headline1 fl1 ow-break-word mb8">{{question.title}}</h1>

                <div class="ml12 aside-cta grid--cell print:d-none sm:ml0 sm:mb12 sm:order-first sm:as-end">
                    

                </div>
            </div>
            <div class="grid fw-wrap pb8 mb16 bb bc-black-2">
                    <div class="grid--cell ws-nowrap mr16 mb8" title="2011-02-07 15:13:03Z">
                        <span class="fc-light mr2">Asked</span>
                        <time itemprop="dateCreated" >{{question.creation_date}}</time>
                    </div>
                    <div class="grid--cell ws-nowrap mb8" title="Viewed 196,542 times">
                        <span class="fc-light mr2">Viewed</span>
                        FixMe
                    </div>
            </div>
            <div id="mainbar" role="main" aria-label="question and answers">

                
<div class="question" data-questionid="4922867" id="question">
    <style>.everyoneloves__top-leaderboard:empty,.everyoneloves__mid-leaderboard:empty,.everyoneloves__bot-mid-leaderboard:empty{
            margin-bottom:0;
}
</style>
<div id="dfp-tlb" class="everyonelovesstackoverflow everyoneloves__top-leaderboard mb8 mx-auto" style="min-height: auto; height: auto; display: none;"></div>

    <div class="post-layout">
        <div class="votecell post-layout--left">
            <div class="js-voting-container grid fd-column ai-stretch gs4 fc-black-200" data-post-id="4922867">
        <div class="js-vote-count grid--cell fc-black-500 fs-title grid fd-column ai-center" data-value="{{question.votes}}">{{question.votes}}</div>



    


</div>

        </div>

        

<div class="postcell post-layout--right">
    
    <div class="post-text" itemprop="text">
              {{question.body|safe}}
    </div>

        <div class="post-taglist grid gs4 gsy fd-column">
            <div class="grid ps-relative d-block">
                {% for tag in question.tags %}
                    <a class="post-tag js-gps-track" rel="tag">{{tag}}</a>
                {% endfor %}
            </div>
        </div>


</div>


    </div>
</div>


<div id="dfp-isb" class="everyonelovesstackoverflow everyoneloves__inline-sidebar mt24 mx-auto" style="min-height: auto; height: auto; display: none;"></div>

                <div id="answers">

                    <a name="tab-top"></a>
                    <div id="answers-header">
                        <div class="answers-subheader grid ai-center mb8">
                            <div class="grid--cell fl1">
                                <h2 class="mb0" data-answercount="{{answers|length}}">
                                    {{answers|length}} Answers
                                    <span style="display:none;" itemprop="answerCount">8</span>
                                </h2>
                            </div>
                            <div class="grid--cell">
                                <div class=" grid s-btn-group js-filter-btn">
                                    <a class="grid--cell s-btn s-btn__muted s-btn__outlined"
                                       href="https://stackoverflow.com/questions/4922867/what-is-the-junit-xml-format-specification-that-hudson-supports?answertab=active#tab-top"
                                       data-nav-xhref="" title="Answers with the latest activity first"
                                       data-value="active" data-shortcut="A">
                                        Active</a>
                                    <a class="grid--cell s-btn s-btn__muted s-btn__outlined"
                                       href="https://stackoverflow.com/questions/4922867/what-is-the-junit-xml-format-specification-that-hudson-supports?answertab=oldest#tab-top"
                                       data-nav-xhref="" title="Answers in the order they were provided"
                                       data-value="oldest" data-shortcut="O">
                                        Oldest</a>
                                    <a class="youarehere is-selected grid--cell s-btn s-btn__muted s-btn__outlined"
                                       href="https://stackoverflow.com/questions/4922867/what-is-the-junit-xml-format-specification-that-hudson-supports?answertab=votes#tab-top"
                                       data-nav-xhref="" title="Answers with the highest score first" data-value="votes"
                                       data-shortcut="V">
                                        Votes</a>
                                </div>

                            </div>
                        </div>

                    </div>

                {% for a in answers %}
                    <div id="answer-{{a.id}}" class="answer" data-answerid="{{a.id}}"
                         itemscope="" itemtype="http://schema.org/Answer">
                        <div class="post-layout">
                            <div class="votecell post-layout--left">
                                <div class="js-voting-container grid fd-column ai-stretch gs4 fc-black-200"
                                     data-post-id="4925847">

                                    <div class="js-vote-count grid--cell fc-black-500 fs-title grid fd-column ai-center"
                                         itemprop="upvoteCount" data-value="{{a.votes}}">{{a.votes}}
                                    </div>



                                    <div class="js-accepted-answer-indicator grid--cell fc-green-500 ta-center py4 d-none"
                                         title="loading when this answer was accepted..." tabindex="0" role="note"
                                         aria-label="accepted">
                                        <svg aria-hidden="true" class="svg-icon iconCheckmarkLg" width="36" height="36"
                                             viewBox="0 0 36 36">
                                            <path d="M6 14l8 8L30 6v8L14 30l-8-8v-8z"></path>
                                        </svg>
                                    </div>
                                </div>

                            </div>


                            <div class="answercell post-layout--right">

                                <div class="post-text" itemprop="text">
                                    {{a.body| safe}}
                                </div>
                                <div class="grid mb0 fw-wrap ai-start jc-end gs8 gsy">
                                    <time itemprop="dateCreated" datetime="2011-02-07T19:56:42"></time>
                                </div>

                            </div>


                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
    </div>

    <script>

        let re = /https:\/\/stackoverflow.com\/questions\/(\d*)\//
        let re2 = /http:\/\/stackoverflow.com\/questions\/(\d*)\//

        f = function(x) {
            if (x.className=="keep") {
                return x.href
            }
            if (re.exec(x.href)) {
                return "\/question\/" + re.exec(x.href)[1]
            }
            if (re2.exec(x.href)) {
                return "\/question\/" + re2.exec(x.href)[1]
            }

            return "#"
        }

        document.querySelectorAll("a").forEach(function(x) {
            x.href = f(x)
            if (x.href == "#") {
                x.style.color = "black"
            }
        })




    </script>

    <script>StackExchange.ready(function(){$.get('/posts/4922867/ivc/8aa8');});</script>
    <noscript>
        <div><img src="/posts/4922867/ivc/8aa8" class="dno" alt="" width="0" height="0"></div>
    </noscript>
    <div style="display:none" id="prettify-lang"></div>
</div>


        </div>
    </div>
        


    
    
